
*{
    margin: 0px;
    padding: 0px;
}
.header-flower{
    display: flex;
    background-color: gainsboro ;
    align-items: center;
    justify-content: space-around;
    
    
}
.flower1-img{
    display: block;
    
}
.header-title{
    margin: 25px;
}
.header-btn{
 background-color: brown;
 padding: 7px;
 border-radius: 3px;
}
.header-para{
    font-size: 14px;

}
/* end header css */

.main-title{
    text-align: center;
    margin: 25px;
    padding: 23px;
}
.sec-pik{
    display: flex;
    gap: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fb-img{
    width: 200px;
    height: 200px;
    border-radius: 20px ;
}
.bn-para{
    font-weight: bold;

     text-decoration: underline;
}
/* end flower */

.bay-flower{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.bay-title2{
    text-align: center;
    padding: 15px;
    
}
.samp{
    color: green;
    font-size: 35px;
}
/* end this */

.insta{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
    
}
.ja-img{
    width: 200px;
    height: 300px;

}
.end-ar{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    margin: 40px;
    background-image: url("back.jpg");
    background-size: cover;
    align-items: center;

}

.submit{
    background-color: blanchedalmond;
    padding: 5px;
}

.input-text{
    padding: 5px;
    color: rgb(151, 64, 64);
}

.footer-title{
    text-align: center;
    padding: 7px;
    color: whitesmoke;
    background-color: black;
}

.footer-samp{
    color: chartreuse;
    font-size: 20px;
}